* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}
.header1,
.header2 {
  float: left;
  width: 50%;
}
.topheader {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #0d369f;
}
.header1,
.header2 {
  float: left;
  width: 50%;
}
.header1 > ul {
  display: block;
  list-style-type: disc;
  margin-left: 25px;
}
.header1 li {
  display: inline-block;
  color: white;
  padding: 15px;
}
.header1 li a {
  color: white;
  text-decoration: none;
}
.header2 li {
  color: white;
  display: inline-block;
  padding: 15px;
}
.header2 {
  text-align: right;
}

.underheader h1,
p {
  float: left;
}
.img1 {
  margin-right: 0.25rem !important;
  padding-top: 0.5rem !important;
}
.underheader ul {
  margin-left: 40%;
}
.underheader li {
  display: inline-block;
  margin: 20px;
  margin-top: 28px;
}
.underheader a {
  font-size: 17px;
  text-decoration: none;
}
.underheader a:hover {
  color: #ff6e65;
}
.swiper {
  width: 100%;
}

.swiper-slide {
  position: absolute;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide > h1 {
  position: absolute;
  top: 300px;
  width: 50%;
  left: 100px;
}
.swiper-slide > a {
  position: absolute;
  top: 500px;
  left: 100px;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 20px 35px;
  border-radius: 5px;
}
.swiper-slide > a:hover {
  background-color: #ff6e65;
  color: white;
}
.swiper-wrapper {
  position: relative;
}
.about {
  position: relative;
  margin-top: -40px;
  z-index: 1;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px 200px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 30px;
  border-radius: 10px;
  border: none;
}
.grid-container > div > a {
  text-decoration: none;
}
.grid-container > div > a > h4 {
  font-size: 24px;
  color: white;
  margin-top: 30px;
}
.grid-container > div > a > h4:hover {
  color: black;
}
.welcome {
  margin-top: 70px;
}
.welcome__body {
  display: flex;

  background-color: #f1f1f1;
  margin: 50px 190px;
}

.welcome__body > div {
  color: #0d369f;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}
.welcome__body > div > i {
  margin-bottom: 20px;
}
.welcome__body > div > a {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}
.welcome__body > div > a > h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.welcome__body > div > a > h3:hover {
  color: #ff6e65;
}
.welcome__body > div > p {
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 20px;
  color: black;
}
.getStart__body {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 150px;
}
.getStart__body > div {
  background-color: #f1f1f1;
  width: 30%;
  margin: 10px 20px;
  text-align: center;
  font-size: 30px;
}
.item__img {
  position: relative !important;
}
.item__list {
  position: absolute;
  left: 20px;
  top: 5px;
}
.item__price {
  position: absolute;
  right: 25px;
  bottom: -15px;
  background-color: #ff6e65;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.item__price > h6 {
  font-size: 18px;
  color: white;
  padding: 15px;
}

.item__img > .item__list > a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  border-radius: 10%;
  margin: 10px;
}
.item__info > .info__top {
  margin-top: 20px;
}
.item__info > .info__top > ul > li {
  display: inline-block;
  font-size: 16px;
  text-align: left;
}
.item__info > .info__top > ul > li > i {
  font-size: 16px;
  color: #ff6e65;
}
.item__info > a > h4 {
  font-size: 22px;
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
  text-decoration: none;
  color: black;
}
.item__info > a {
  text-decoration: none;
}
.item__info > a > h4:hover {
  color: #ff6e65;

  transition: 0.5s all;
}
.item__info > p {
  font-size: 16px;
  text-align: left;
  font-weight: lighter;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.item__bottom > ul > li > a > i {
  color: #ffc949;
}
.item__bottom {
  margin-top: 130px;
}
.item__bottom > a {
  text-decoration: none;
  font-size: 14px;
  margin-left: 120px;
  color: #ff6e65;
}
.item__bottom > a:hover {
  color: #0d369f;
  transition: 0.5s all;
}
.item__bottom > ul {
  text-align: left;
  margin-left: -30px;
}
.item__bottom > ul > li {
  display: inline-block;
  font-size: 14px;
}
.item__bottom > a,
ul {
  display: inline-block;
}
.center__button {
  text-align: center;
  margin-bottom: 15px;
}
.center__button > a {
  text-decoration: none;
  background-color: #ff6e65;
  color: white;
  padding: 15px 50px;
  border-radius: 5px;
}
.center__button a:hover {
  background-color: #0d369f;
  transition: 0.5s all;
}
.img__block {
  margin-top: 50px;
  position: relative;
}
.img__block__info {
  display: flex;
  flex-wrap: wrap;

  position: absolute;
  top: 150px;
  left: 600px;
}
.img__block__info > .info {
  background-color: #f1f1f1;
  width: 30%;
  margin: 10px;

  font-size: 30px;
  border-radius: 10px;
  font-size: 27px;
}
.info {
  display: flex;
  padding: 30px;
}
.icon-info {
  margin-top: 15px;
  color: #0d369f;
}
.text-info {
  text-align: left;
  margin-left: 50px;
}
.text-info > p {
  font-weight: lighter;
  font-size: 16px;
  margin-top: 20px;
}
.text-info > h5 {
  font-size: 20px;
}
.infoNumbers {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
}
.infoNumbers__wrapper {
  margin: 170px 150px;
}
/* .infoNumbers__wrapper {
  width: 100%;

  margin: 10px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
} */

.infoNumbers__title:first-child {
  margin-top: 0;
}

.infoNumbers__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(130px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  margin-top: 80px;
  grid-gap: 5%;
  width: 100%;
}

.infoNumbers__item {
  text-align: center;
}

.infoNumbers__number {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 1.6px;
  color: black;
}
.infoNumbers__number {
  font-size: 46px;
}
.infoNumbers__itemTitle {
  font-size: 16px;
  line-height: 28px;

  letter-spacing: 0.2px;
  font-weight: 500;
  color: black;
}
.number {
  margin-top: 80px;
}
.student__body {
  display: flex;
  flex-wrap: wrap;

  margin: 20px 100px;
  margin-left: 200px;
  padding: 15px;
}

.student__body > div {
  background-color: #f1f1f1;
  width: 30%;

  font-size: 30px;
}
.student__body__text > q {
  font-size: 16px;
}
.student__body__text q::before {
  font-size: 50px;
  color: #ff6e65;
  font-family: initial;
  line-height: 0.8;
  padding-top: 8px;
  display: inline-block;
}
.student__body__img > img {
  border-radius: 50%;
  margin-top: 40px;
}
.student__body__img,
.img__text {
  float: left;
}
.img__text > h5 {
  margin-top: 50px;
  margin-left: 40px;
  font-size: 20px;
}
.img__text > p {
  margin-left: 40px;
  font-size: 16px;
}
.world {
  margin-top: 50px;
}
.world__body {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 150px;
}

.world__body > div {
  background-color: #f1f1f1;
  width: 25%;
  text-align: center;
  font-size: 30px;
  position: relative;
}
.world__body > div img {
  border-radius: 10px;
}
.world__body > div > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.world__body > div > small {
  font-size: 12px;
}
.world__body > div > a:hover {
  color: #ff6e65;
}
.world__body__img {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 176px;
  left: 28px;
  width: 82%;
  height: 25%;
  transition: all 0.5s;
  opacity: 0;
  border-radius: 10px;
}
.world__body div:hover .world__body__img {
  opacity: 1;
}
.img__icon {
  position: absolute;
  top: -10px;
  left: 25px;
  transition: all 0.5s;
  transform: translateY(50px);
  color: white;
  margin-left: 50px;
}
.img__icon > a > i {
  color: #0d369f;
  background-color: white;
  background-size: cover;
  border-radius: 25px;
  padding: 5px;
  font-size: 14px;
}
.Contact {
  overflow: hidden;
}
.Contact > .contact__img,
.contact__text {
  float: left;
}
.contact__img {
  width: 40%;
}
.contact__img > img {
  margin-left: 200px;
}
.contact__text {
  width: 40%;
  margin-left: 70px;
  line-height: 50px;
}
.contact__text > h3 {
  margin-top: 100px;
  font-size: 35px;
  text-align: left;
}
.contact__text > p {
  font-size: 16px;
}
.contact__text > a {
  color: white;
  background-color: #ff6e65;
  border-radius: 7px;
  padding: 17px 30px;
  text-decoration: none;
}
.contact__text > a:hover {
  background-color: #0d369f;
}
.footer__body {
  display: flex;
  flex-wrap: wrap;
  margin-left: 250px;
  background-color: rgb(0, 0, 0);
}
.footer {
  background-color: black;
}
.footer__body > div {
  background-color: rgb(0, 0, 0);
  width: 20%;
  text-align: left;
  line-height: 25px;
  font-size: 30px;
  color: white;
  padding: 150px 0;
}
.footer {
  margin-top: 200px;
  margin-bottom: 10px;
  position: relative;
}
.footer__head {
  background-color: rgb(255, 255, 255);
  width: 60%;
  border-radius: 5px;
  padding: 30px;
  margin-left: 250px;
  position: absolute;
  bottom: 400px;
}
.footer__head__text > h4 {
  font-size: 35px;
}
.footer__head__text > p {
  font-size: 15px;
  margin-top: 10px;
}
.footer__head__email > input {
  margin-left: 550px;
  padding: 15px;
  margin-top: -40px;
  border-radius: 10px 0px 0px 10px;
}
.footer__head__email > button {
  padding: 15px;
  margin-left: -4px;
  background-color: #0d369f;
  color: white;
  border-radius: 0px 10px 10px 0px;
}
.footer__body > div > h6 {
  font-size: 16px;
}
.footer__body > div > a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  text-align: left;
}
.footer__body > div > a > i {
  font-size: 10px;
  color: white;
}
